*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	max-width: 650px;
	margin: 0 auto;
	margin-top: 15px;
	background-image: url(https://images.unsplash.com/photo-1668450433152-e56d7e8fe4ee?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60);
	border-radius: 10px;
}

 .oder{
 	display: flex;
 	justify-content: center;
 	margin: auto;
	color: black;
    height: 50px;
	
}

button{
	background-color: green;
	font-size:40px;
	border-radius: 10px;
	font-weight: bolder; 
}


.taste{
	color: red;
	font-size: 35px;
}

.Men{
	color: gold;
	height: 120px;
	padding-top: 10px;
	text-align: center;
	font-size: 100px;

}


.photo{
	display: flex;
	justify-content: center;
	
}

.food{
	border-radius: 50px;
}

p{
	font-size: 50px;
	color: gold;
	text-align: center;
}