h1 {
	color: purple;
	font-family: solid;
}
body {
	font-family: cursive;
	background-color:grey;
	 }
h3 {
	font-size: 20px;
}
ol {
	color: green;
}
#fimage {
	width: 600px;
	height: 400px;
}
.aboutpage {
	color:purple;
}
p {
 color: yellow;
}


